@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="RegisterPage" asp-controller="Home">building Web apps with ASP.NET Core</a>

    @{
            if (ViewBag.SessionKey == 0 || ViewBag.SessionKey == null)
        {
            <form method="post" asp-action="Login" asp-controller="Home">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="Email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="Password">
                        </div>
                    </div>

                <input type="submit" value="Submit" />
            </form>
        }
        else
        {
            
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/epik/imagenes/2018/11/16/portada/1542384053_864693_1542384302_noticia_normal_recorte1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.SessionName</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    }

    


</div>
