

<form class="row g-3" asp-action="Register" asp-controller="Home" method="post">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input name="Email" type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input name="Password" type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Name</label>
        <input name="Name" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>